<%= render DrawerComponent.new(title: "Animal Details", size: @size, previous_url: animals_path, confirm: true) do %>
  <div>
    <p><strong>ID:</strong> <%= @animal.id %></p>
    <p><strong>Name:</strong> <%= @animal.name %></p>
    <p><strong>Family:</strong> <%= @animal.family %></p>
  </div>
<% end %>
