<div class="drawer" data-controller="drawer">
  <div class="overlay" data-action="click->drawer#close"></div>
  <div class="body">
    <%= turbo_frame_tag 'drawer-frame' do %>
      <% if content.present? %>
        <%= content %>
      <% else %>
        <p>Loading ...</p>
      <% end %>
    <% end %>
  </div>
</div>
