<%= turbo_frame_tag 'drawer' do %>
  <% if @edit %>
    <%= render DrawerComponent.new(title: 'Edit Animal') do %>
      <div>FORM COMING SOON</div>
    <% end %>
  <% else %>
    <%= render DrawerComponent.new(title: 'Animal Details') do %>
      <%= render 'animal' %>
    <% end %>
  <% end %>
<% end %>
